@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

div.h1 {
  font-size: 125%;
  font-family: "Roboto", sans-serif;
}
div.h11 {
  font-size: 135%;
  font-weight: bold;
}
div.h2 {
  font-size: 195%;
  font-family: "Roboto", sans-serif;
}
div.h3 {
  font-size: 250%;
  font-weight: bold;
  color: #1205a1;
  font-family: "Roboto", sans-serif;
}

.sublist li{
   margin-top: 10px;
   line-height: 1.5;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

/*
.main2,
.sidebar {
  padding: 30px;
}
*/

.main2 {
  background-color: #fff;
  width: 87%;
  line-height: 1.8;
}

.sidebar {
  background-color: #222;
  color: white;
  width: 13%;
  height: 25vh;
  position: -webkit-sticky;
  position: sticky;
  padding: 40px;
  padding-top: 50px;
  top: 0;
  line-height: 1.2;
}

a { text-decoration: none; color: #0069ba; }         /*HYPERLINK DECORATION*/
a:hover { color: #008716; text-decoration: underline; }

.navmenu a{
   color: white; 
}  
.navmenu a:hover{
  color: #b8c1ff;
}

body {
  background-color: #222;
  font-size: 0.91em;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@-ms-viewport { width: device-width ; }
@viewport { width: device-width ; }
@media only screen and (max-width: 629px) {
	#content {
		float: none ;
		width: 100% ;
	}
	#navbar {
		float: none ;
		width: 100% ;
	}
	#pagelinkcode {
		width: 90% ;
	}
	#switchlayout input {
		width: 90% ;
	}
}
