<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LCCDZHKTRJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-LCCDZHKTRJ');
    </script>
    
    <link rel="icon" type="image/png" href="/earth.png">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">   **** This makes it more mobile friendly -->
    <!-- <meta name="viewport" content="initial-scale=1">   **** This makes it more mobile friendly -->
    <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    
 <div class="wrapper">
  <div class="sidebar">
    <div class="h2"> <a href="/" style="color:#455eff; -webkit-text-stroke: 2px white;">PaleoJump</a> </div> 
    <div class="h1"> <div class="navmenu"> 
    <br>
    <br>
    <br>
    <a href="#m1" style="text-decoration: none">Map</a><br>
    <br>
    <a href="#t1" style="text-decoration: none">Marine Sediment Cores</a><br>
    <br>
    <a href="#t2" style="text-decoration: none">Ice Cores</a><br>
    <br>
    <a href="#t3" style="text-decoration: none">Speleothems</a><br>
    <br>
    <a href="#t4" style="text-decoration: none">Loess Records</a><br>
    <br>
    <a href="#t5" style="text-decoration: none">Lake Sediment Cores</a><br>
    <br>
    <a href="#use" style="text-decoration: none">Usage</a><br>
    <br>
    <a href="#add" style="text-decoration: none">Additional information</a><br>
    <br>
    <a href="#con" style="text-decoration: none">Contact</a><br>
  </div></div></div>
  <div class="main2">
    <p> {{ content }} </p> 
  </div>
</div>

</body>
</html>
